/* variáveis */
:root {
    --cor-header: #070cff;
    --cor-de-fundo: #00012e;
    --azul: #0006FF;
    --cor-botao: #00FF23;
    --cor-texto: white;
    --primeiro-gradiente: #f2f3ff;
    --segundo-gradiente: #000269;

}

/* estilos gerais */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
}

/* cabeçalho */

header {
    background-color: var(--cor-header);
}

.caixa-logo {
    width: 940px;
    margin: 0 auto;

}

.logo {
    width: 316.8px;
    height: 172px;
}

/* conteúdo principal */

.primeira-secao {
    background: linear-gradient(180deg, #070cff, #000269);
    padding-bottom: 5em
}

.principal {
    margin: 0 auto;
    width: 940px;
    display: flex;
}

.texto-marketing {
    width: 20em;
    margin: 0 auto;
    padding: 1em;
    color: var(--cor-texto);
    font-size: 1.4em;
}

#texto-modificado {
    text-decoration: underline #000269 5px;
    color: var(--cor-texto);
    font-style: italic;
    font-size: 1.0875em;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.caixa-input {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label-escrever {
    margin: 0 0 5px 5px;
    color: var(--cor-texto);
}

.input-escrever {
    border-radius: 20px;
    border: none;
    padding: 10px 10px 10px 20px;
    box-shadow: 1em 1em #000269;
    transition: 0.3s all ease;
}

.checkbox {
    text-align: center;
    margin: 1.5em 0 1em 0;
}

#marcar-label {
    font-size: 11px;
}

.botao {
    width: 100%;
    margin: 0 auto;
    background-color: var(--cor-header);
    color: var(--cor-texto);
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-family: "Poppins", Sans-serif;
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.3s all ease;
}

.caixa-imagem-dispositivos {
    display: flex;
    align-items: center;
}

.imagem-dispositivos {
    width: 600px;
}

.segunda-secao {
    background: linear-gradient(180deg, #000269, #00012e);
}

.vantagens {
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
    width: 940px;
    padding-bottom: 5em;
}

.vantagens > h1, .apresentacao > h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.caixa-beneficios {
    display: flex;
    margin: 1em;
}

.beneficios {
    box-sizing: border-box;
    width: 33%;
    height: 18em;
    margin: 0 1em;
    padding: 1em;
    border: 5px solid var(--azul);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5em;
    box-shadow: 1em 1em #000269;
    transition: 0.3s all ease;
}

.beneficios > div {
    height: 175px;
    display: flex;
    align-items: center;
}

#texto-grande {
    font-size: 0.725em;
}

.imagem-beneficios {
    width: 8em;
    height: 8em;
    margin: 0 auto;
}

.terceira-secao {
    background: linear-gradient(180deg, #00012e, #000000);
    padding-bottom: 5em;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-texto);
    padding-bottom: 5em;
}

.conteudo-apresentacao {display: flex;
    justify-content: center;
}

.texto-apresentacao {
    width: 25%;
    display: flex;
    align-items: center;
    font-size: 1.4em;
}

.caixa-foto-douglas {
    width: fit-content;
    height: fit-content;
}

.foto-douglas {
    width: 460px;
    height: 460px;
    margin: 0 2em 0 0;
    border: 5px solid var(--azul);
    border-radius: 2em;
    box-shadow: 1em 1em #000269;
    transition: 0.3s all ease;
}


footer {
    position: sticky;
    top: 100vh;
    background-color: black;
    color: white;
    padding: 6em;
    display: flex;
    justify-content: center
}

footer > div {
    width: 470px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links > a {
    text-decoration: none;
    color: white;
    transition: 0.3s all ease;
}

/* animações */

.input-escrever:hover, .input-escrever:focus {
    box-shadow: 1.5em 1.5em  var(--azul);
}

.input-escrever:focus {
    outline: none;

}

.botao:hover {
    background-color: #1b1fff;
}

.beneficios:hover {
    box-shadow: 1.5em 1.5em var(--azul);
    width: 35%;
    height: 18.5em;
}

.foto-douglas:hover {
    width: 480px;
    height: 480px;
    box-shadow: 1.5em 1.5em  var(--azul);
}

.links > a:hover {
    color: var(--azul);
}

@media screen and (max-width: 1300px){
    .caixa-logo,
    .principal,
    .texto-marketing,
    .caixa-imagem-dispositivos,
    .vantagens,
    .caixa-beneficios,
    .conteudo-apresentacao,
    .caixa-links
    {
        width: auto;
    }

    .caixa-logo {
        text-align: center;
    }

    .logo {
        width: 316.8px;
        height: 172px;
    }

    .primeira-secao {
        padding-top: 1em;
    }

    .principal {
        flex-direction: column-reverse;
    }

    .imagem-dispositivos,
    .formulario
    {
        width: calc(100vw - 17%);
        margin: 0 auto;
    }

    .segunda-secao {
        padding-top: 1em;
    }

    .caixa-beneficios {
        flex-direction: column
    }

    .beneficios {
        width: calc(100vw - 20%);
        margin: 0 auto 2em auto;
        box-shadow: 0.5em 0.5em #000269;
    }

    .terceira-secao {
        padding-top: 1em;
        padding-bottom: 0;
    }

    .conteudo-apresentacao {
        flex-direction: column;
    }
    
    .foto-douglas {
        width: calc(100vw - 25%);
        height: calc(100vw - 25%);
        margin: 0 auto;

    }

    .texto-apresentacao {
        width: calc(100vw - 15%);
        margin: 2em auto 0 auto;
        
    }

    footer {
        padding: 2em;
    }
    
    .caixa-links {
        flex-direction: column;
    }
    
    .links {
        padding: 0.5em;
    }
    
    /* animações responsiva */

    .beneficios:hover {
        box-shadow: 0.8em 0.8em var(--azul);
        width: calc(100vw - 20%);
        height: 18.5em;
    }

    .foto-douglas:hover {
        width: calc(100vw - 23%);
        height: calc(100vw - 23%);
        box-shadow: 1.2em 1.2em  var(--azul);
    }
}

@media screen and (min-width:700px) and (max-width: 999px) {
    
    .caixa-beneficios {
        flex-flow: row wrap;
    }

    .beneficios {
        width: calc(100vw - 60%)
    }

    .beneficios:hover {
        width: calc(100vw - 60%);
    }
}

@media screen and (min-width: 1000px) {
    .caixa-beneficios {
        flex-flow: row;
    }

    .beneficios {
        width: calc(100vw - 75%);
    }

    /* animações */

    .beneficios:hover {
        width: calc(100vw - 75%);
    }
}

@media screen and (max-width:317px) {
    
    .logo {
        width: calc(100vw - 10%);
        height: calc(100vw - 10%);
    }
    
    .imagem-beneficios {
        width: 7em;
        height: 7em;
    }

    .vantagens > h1, .apresentacao > h1 {
        font-size: 2em
    }
    /* animações */

    .beneficios:hover {
        box-shadow: 0.5em 0.5em var(--azul);
        width: calc(100vw - 20%);
        height: 18.5em;
    }

    .input-escrever:hover, .input-escrever:focus {
        box-shadow: 1.2em 1.2em  var(--azul);
    }
    
}